 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     background-color: #080202;
 }

 .chess-board {
     display: grid;
     grid-template-columns: repeat(8, 50px);
     grid-template-rows: repeat(8, 50px);
     border: 2px solid #0a0808;
 }

 .cell {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50px;
     height: 50px;
     font-size: 32px;
 }

 .cell.white {
     background-color: #fff;
 }

 .cell.green {
     background-color: #228B22;
     color: #0a0909;
 }

 .piece {
     font-size: 32px;
 }